<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Restaurantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Restaurantes</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <div class="main">
      <form [formGroup]="formData" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input
            formControlName="email"
            type="email"
            placeholder="Digite seu e-mail"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input
            formControlName="password"
            type="password"
            placeholder="Digite sua senha"
          ></ion-input>
        </ion-item>

        <ion-button
          routerLink="/initial"
          type="submit"
          color="danger"
          expand="block"
          >Entrar</ion-button
        >
      </form>

      <p>Deseja virar um Restaurante parceiro?</p>
      <ion-button
        routerLink="/register-restaurants"
        color="light"
        size="small"
        fill="solid"
      >
        Cadastrar-se
      </ion-button>

      <ion-button routerLink="/home" color="light" size="small" fill="solid">
        Voltar
      </ion-button>
    </div>
  </div>
</ion-content>
