<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Ta na Mesa </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ta na Mesa</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="main">
      <form [formGroup]="formData" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input
            formControlName="email"
            type="email"
            placeholder="Digite seu e-mail"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input
            formControlName="password"
            type="password"
            placeholder="Digite sua senha"
          ></ion-input>
        </ion-item>

        <ion-button
          type="submit"
          color="danger"
          expand="block"
          >Entrar</ion-button
        >
      </form>

      <p>Não possui uma conta? Clique aqui e crie uma.</p>
      <ion-button
        routerLink="/register"
        color="light"
        size="small"
        fill="solid"
      >
        Registrar
      </ion-button>

      <p>É um restaurante parceiro ou quer se tornar um.</p>
      <ion-button
        routerLink="/login-restaurants"
        color="light"
        size="small"
        fill="solid"
      >
        Clique aqui
      </ion-button>
    </div>
  </div>
</ion-content>
